@page "/posts/{url}"
@inject BlazorBlogDemo.Client.Services.IBlogService BlogService

@if (CurrentPost == null)
{
    <span>Please Be Patient...</span>
}
else
{
    <h3>@CurrentPost.Title</h3>
    <h4>@CurrentPost.Content</h4>
}
@code {
    private BlazorBlogDemo.Shared.BlogPost CurrentPost;
    [Parameter]
    public string Url { get; set; }


    protected override async Task OnInitializedAsync()
    {
        CurrentPost = await BlogService.GetBlogPostByUrl(Url);
    }
}
